.app-container {
  background-color: rgb(114, 111, 112);
  min-height: 102vh;
}

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
